/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  /*padding-top: 15px;*/
  max-width: 100%;
  background-color: #222;
}

.carousel-item::before {
  content: "";
  display: block;
  padding-top: 49%;
  /*aspect-ratio: 16/9;*/
}

.carousel-item img {
  /*max-width: 100%;*/
  /*aspect-ratio: auto;*/
}

.container {
  /*margin-top: 20vh;*/
}


/* MARKETING CONTENT
-------------------------------------------------- */

.text {
  text-align: center;
  justify-content: center;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */

.featurette-heading {
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 640px) {

  /* Bump up size of carousel content */
  .text p {
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (max-width: 400px) {
  .carousel-item {
    width: 100%;
    background-color: #222;
  }

  .carousel-item::before {
    content: "";
    display: block;
    padding-top: 65%;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

#wrap1 {
  display: none;
}

#menu1 {
  display: none;
}

#content1 {
  display: none;
}